<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038921427104-cdi1sl9hg2qn2kbur0898dq1os77v74e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038921427104-cdi1sl9hg2qn2kbur0898dq1os77v74e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038921427104-kf0r4bng9ugfe11mfl65af0v4odonmfd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk6guoASdx3nFqtOaBscOcutAz7Gh5bsw</string>
	<key>GCM_SENDER_ID</key>
	<string>1038921427104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solutionChallengeApp</string>
	<key>PROJECT_ID</key>
	<string>solutionchallenge24</string>
	<key>STORAGE_BUCKET</key>
	<string>solutionchallenge24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038921427104:ios:1e19ffe7c35ae1300a41c5</string>
</dict>
</plist>